<h1>Who's awake?</h1>

<% @team.each do |team_member| %>
  <h3>
  <% if team_member['is_awake'] %>☀️<% end %><%= team_member['name'] %> (<a href="https://gitlab.com/<%= team_member['gitlab'] %>"><%= team_member['gitlab'] %></a>)  
  </h3>
  <p><%= team_member['locality'] %>, <%= team_member['country'] %></p>
  <p><%= team_member['local_time'] %></p>
<% end %>